* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #202c36;
}
.qa {
  background-color: #2b3844;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 80px;
}

.e {
  color: white;
}
.s {
  color: white;
}
.pedding {
  padding: 10px;
  margin: 40px;
  width: 300px;
  border: none;
  border-radius: 5px;
  background-color: #2b3844;
}
.container {
  background-color: #2b3844;
  width: 264px;
  height: 250px;
  box-shadow: 0px 0px 7px 2px #00000008;
  border-radius: 5px;
}

.container img {
  width: 100%;
}
.q {
  color: white;
  font-weight: 800;
  text-align: center;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: space-between;
  row-gap: 50px;
}

@media (max-width: 628px) {
  .parent {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 560px) {
  .e h1 {
    font-size: 14px;
  }
  .s h4 {
    font-size: 12px;
  }
  .parent {
    justify-content: center;
  }
  .pedding {
    width: 90%;
  }
}
